button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.leftContainer {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.dataSetPlaceholderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 126px;
  padding-left: 2rem;
}

.dataSetPlaceholder {
  fill: #c3dde3;
}

.datasets {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
}

.chart {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1rem 5rem 0;

  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
}

.toolsContainer {
  height: 100%;
  width: 35%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 1rem;

}

.blocks {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 1rem;
}

.block {
  display: flex;
}
