button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  border-bottom: solid #d2d2d2 2px;
  padding-bottom: 7px;
}

.icon {
  margin-right: 0.8rem;
}

.groupTitle {
  font-size: 1.2rem;
}

.leftContainer {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.leftMain {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.button {
  background: #3a3a3a;
  border-radius: 8px;
  color: white;
  align-self: flex-end;
  padding: 0.7rem 1.5rem;
  margin: 0.2rem 2rem 1.5rem 0;
  font-size: 0.7rem;
}


@media only screen and (min-width: 1370px) {
  .button {
    background: #3a3a3a;
    border-radius: 8px;
    color: white;
    align-self: flex-end;
    padding: 0.7rem 1.5rem;
    margin: 2rem 2rem 1.5rem 0;
    font-size: 1rem;
  }
}


.button:hover {
  background: #646464;
}

.selectedDataSetContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 9px;
  padding-left: 2rem;
  width: 17%;
  min-width: 110px;
  height: 90%;
}

.dataSetPlaceholder {
  fill: #c3dde3;
}

.datasets {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-sizing: border-box;
}

.chart {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1rem;

  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
}

.toolsContainer {
  height: 100%;
  width: 35%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.blocks {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.blocksLeftLabel {
  color: #c6c6c6;
}

.datasetWithLabel {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.source {
  margin-top: 0.6rem;
  color: #c6c6c6;
}

.noMobileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.noMobileMessage {
  background: rgb(245, 245, 245);
  color: #656565;
  padding: 1rem;
  margin: 1rem;
}
