.bar {
  fill: #6298a4;
  stroke: none;
}

.rightSide {
  fill: #507881;
}

.top {
  fill: #9fc7d0;
}

.ghostBar {
  opacity: 0.5;
}

.svgWrapper {
  overflow: visible;
}

.placeholderContainer {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.title {
  color: white;
  height: 100%;
  width: 100%;
  hyphens: auto;

  text-align: center;  
  user-select: none;
  padding: 0.4rem;
  box-sizing: border-box;
  background-color: #6298a4;
}

.ghostBlock {
  opacity: 0.5;
}